<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% if active == true %}
    <h1>bonjour : {{ firstname }} {{ name }}</h1>
    <h2>vous aver {{ age }} ans</h2>
<p>Le metier de cette personne est : {{ job }}.</p>
    {% else %}
    <p>vous n ete pas active</p>
{% endif %}
<a href="{{ path('home') }}">page d index</a>
</body>
</html>